.application {
  min-height: 620px;
  color: #ffffff;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-height: 392px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 654px;
  }
}

.application__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 120px 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 98px 0 102px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    padding: 70px 0;
  }
}

.application__pic {
  display: flex;
  flex-grow: 1;

  background-color: $secondaryColor;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;

  @media (min-width: $desktop-width) {
    flex-basis: 660px;
    min-height: 500px;
    background-image: url("../img/super-game@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/super-game@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 386px;

    min-height: 292px;
    background-image: url("../img/super-game-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/super-game-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    flex-basis: 292px;
    min-height: 292px;
    background-image: url("../img/super-game-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/super-game-mobile@2x.jpg");
    }
  }
}

.application__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 88px 76px;
  color: #ffffff;

  box-sizing: border-box;
  background-color: #ed0233;

  @media (min-width: $desktop-width) {
    flex-basis: 500px;
    min-height: 500px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 292px;
    min-height: 292px;
    padding: 51px 43px;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    flex-basis: 292px;
    min-height: 292px;
    padding: 51px 44px;
    align-items: center;
  }
}

.application__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 52px;
  max-width: 202px;

  @media (max-width: $tablet-width-only) {
    column-gap: 31px;
  }

  h3 {
    width: min-content;
    margin: 0;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;

    @media (max-width: $tablet-width-only) {
      font-size: 52px;
      line-height: 52px;
    }
  }
}

.application__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;

  h4 {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: $tablet-width-only) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.application__data--day {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  margin-top: -8px;

  @media (max-width: $tablet-width-only) {
    margin-top: -4px;
  }

  & p {
    margin: 0;
  }
}

.application__data--time {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: -3px;

  & p {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: $tablet-width-only) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.application__data-when {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 63px;

  @media (max-width: $tablet-width-only) {
    max-width: 42px;
  }

  & p {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: $tablet-width-only) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.application__data-month {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    @media (max-width: $tablet-width-only) {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.application__data-when,
.application__data--time p {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    background-color: #ffffff;
    height: 1px;
    width: 100%;

    @media (max-width: $tablet-width-only) {
      top: 1px;
    }
  }
}

.application__subtitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  & p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: $tablet-width-only) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.application__buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 343px;
  min-height: 67px;
  margin-top: 10px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  cursor: pointer;
  border: 2px solid #ffffff;

  @media (max-width: $tablet-width-only) {
    width: 202px;
    min-height: 37px;

    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 29px 0 47px;
  }

  &:hover,
  &:focus {
    color: $secondaryColor;
    background-color: #ffffff;
  }
}
