.company-logo img {
  height: 20px;
  width: 87px;

  @media (max-width: $tablet-width-only) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $mobile-width-only) {
    width: 68px;
    height: 15px;
  }
}
