.contacts {
  flex-grow: 1;
  flex-basis: 683px;
  padding: 70px 0 62px;
  box-sizing: border-box;
  display: flex;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 351px;
    display: flex;
    justify-content: center;
  }

  @media (max-width: $mobile-width-only) {
    flex-basis: 507px;
  }

  & h2 {
    margin: 0 0 40px 69px;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      margin: 0 0 32px 0;
    }

    @media (max-width: $mobile-width-only) {
      margin: 0 0 34px 0;
    }
  }

  & h3 {
    margin: 0 0 5px 0;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $tablet-width-only) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  & p {
    margin: 0;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    @media (max-width: $tablet-width-only) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.contacts__columns {
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (min-width: $desktop-width) {
    margin-left: 69px;
  }

  @media (min-width: $tablet-width) {
    column-count: 2;
    min-width: 450px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-width: 515px;
  }

  & p {
    @media (min-width: $desktop-width) {
      padding-bottom: 15px;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      padding-bottom: 20px;
    }

    @media (max-width: $mobile-width-only) {
      padding-bottom: 20px;
    }
  }

  & div:last-child > p {
    padding: 0;
  }
}

.contacts__columns-section {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.contacts__divider::before {
  position: absolute;
  content: "";
  background-color: $secondaryColor;
  width: 1px;
  height: 100%;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.contacts__divider div {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-left: 48px;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    max-width: 502px;
  }
}
