.form__comment {
  position: absolute;
  margin-top: -16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  text-align: left;
}

.form__submit input {
  margin-top: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  background: 0 0;
  border: 3px solid #ffffff;
}

.form__required {
  & input {
    width: 100%;
    box-sizing: border-box;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  input.form__input-invalid {
    border: 1px solid #ff6b26;
  }
}
