.gym {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $secondaryColor;
  margin: 120px 7.6% 217px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: column;
    align-items: center;
    margin: 100px 5.8% 183px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: center;
    margin: 70px 0;
  }

  picture, img {
    width: 660px;
    height: 401px;

    @media (max-width: $tablet-width-only) {
      height: auto;
      width: 100%;
    }
  }
}

.gym__info {
  max-width: 480px;
  box-sizing: border-box;
  padding: 49px 60px 49px 60px;

  & p:not(:first-of-type) {
    margin-top: 8px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    max-width: 542px;
    text-align: center;
  }

  @media (max-width: $tablet-width-only) {
    box-sizing: border-box;
    padding: 0 15px;
    flex-direction: column;

    & p:not(:first-of-type) {
      display: none;
    }
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 5px 0 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
  }

  p {
    margin: 40px 0 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    @media (max-width: $mobile-width-only) {
      margin: 24px 0 33px 0;
    }
  }
}

.gym__video {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 97px 0 0 39px;
  position: absolute;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin: 83px 0 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    position: relative;
    width: 100%;
    margin: 35px -5.2% 0 -5.2%;
  }

  .gym__video-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(20, 54, 122, 0.5);

    @media (max-width: $mobile-width-only) {
      height: 100%
    }
  }

  picture {
    display: flex;
  }
}

.gym__play-button {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.gym__video-overlay,
.gym__video picture,
.gym__video img {
  width: 364px;
  height: 228px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    height: auto;
  }
}

.gym__play-button,
.gym__video-overlay picture,
.gym__video-overlay img {
  width: 100px;
  height: 100px;

  @media (max-width: $tablet-width-only) {
    width: 73px;
    height: 73px;
  }
}

.gym__gym-pic {
  @media (max-width: $tablet-width-only) {
    width: 100%;
    height: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-top: 40px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 -5.2%;
  }
}
