.header {
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.header__link {
  text-align: end;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;

  color: #ffffff;

  &:hover,
  &:focus {
    opacity: 70%;
  }
}

.header__logo {
   height: 20px;
}
