.intro {
  min-height: 658px;
  background-color: #1b2948;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;

  color: white;

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-gradient@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-gradient@2x.png");
      }
    }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/bg-gradient-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-gradient-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/bg-gradient-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-gradient-mobile@2x.png");
    }
  }
}

.intro__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 52px;
}

.intro__info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
  padding: 115px 65px 42px 0;
  max-width: 460px;
  box-sizing: border-box;

  & h3 {
    margin: 0;

    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    -webkit-text-stroke: 2px #ffffff;
    text-transform: uppercase;
  }

  & p {
    max-width: 298px;
    margin: 0;

    font-family: "Bebas Neue", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 59px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  & ul {
    margin: 0;
    padding: 11px 0 0 0;
    max-width: 131px;

    font-size: 14px;
    line-height: 21px;
    text-align: right;
    list-style-type: none;
  }
}

.intro__text {
  display: grid;
  //grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
}

.intro__title-start {
  grid-column-start: 2;
  grid-column-end: 5;
}

.intro__title-end {
  grid-column-start: 4;
  grid-column-end: 5;
}

.intro__list {
  grid-column-start: 1;
  grid-column-end: 4;
}


.intro__subscribe-link {
  max-width: 230px;
  padding: 19px 56px;
  margin-top: 42px;

  font-weight: bold;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;

  border: 4px solid #ffffff;

  &:hover,
  &:focus {
    color: $darkColor;
    border: 4px solid #ffffff;
    background-color: white;
  }
}

.intro__pic {
  background-color: #141f40;

  @media (min-width: $desktop-width) {
    max-height: 556px;
  }

    @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.intro__pic img {
  @media (min-width: $desktop-width) {
    width: 500px;
    height: auto;  }
}

.intro__socials {
  flex-grow: 1;
  background-color: #175410;
}
