.promo {
  min-height: 681px;
  padding: 120px 0 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-height: 885px;
    padding: 104px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 1224px;
    padding: 73px 0 0;
  }

  h2 {
    margin: 0 0 50px 0;
    text-align: center;
    font-family: "Bebas Neue","Arial",sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: .03em;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      margin: 0 0 38px 0;
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $mobile-width-only) {
      margin: 0 0 41px 0;
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.promo__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 462px;
  justify-content: space-between;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-height: 703px;
  }
}

.promo__main-offer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-basis: 560px;

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 462px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    flex-basis: 598px;
    margin-bottom: 30px;
  }
}

.promo__main-pic {
  flex-grow: 1;
  flex-basis: 280px;

  background-image: url("../img/girl@1x.jpg");
  background-color: $secondaryColor;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl@2x.jpg");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 399px;

    background-image: url("../img/girl-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/girl-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl-mobile@2x.jpg");
    }
  }
}

.promo__main-content {
  background-color: red;
  color: #FFFFFF;

  flex-grow: 1;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 34px 45px 46px 45px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 279px;
  }

  @media (max-width: $mobile-width-only) {
    align-items: center;
  }

  a {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    &:after {
      background-color: #FFFFFF;
    }
  }
}

.promo__link {
  position: relative;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.promo__main-text {
  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 44px;
  }

  span {
    font-weight: bold;
    font-size: 70px;
    line-height: 57px;
  }

  p {
    margin: 25px 0 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    @media (max-width: $mobile-width-only) {
      margin: 20px 0 0 0;
    }
  }
}

.promo__sales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 560px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: row;
    flex-basis: 211px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    flex-basis: 211px;
  }
}

.promo__offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 14px 28px 29px 28px;

  background-color: #FFFFFF;
  width: 100%;
  min-height: 197px;
  flex-basis: 211px;
  flex-grow: 1;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 324px;
    min-width: 310px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 26px 40px 40px 41px;
    align-items: center;
  }

  a {
    font-size: 12px;
    line-height: 14px;
    color: $primaryColor;

    &:after {
      color: $primaryColor;
    }
  }
}

.promo__sales-wrapper {
  padding: 7px;
  box-sizing: border-box;
  background: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
  width: 100%;
}

.promo__sales-month {
  height: 100%;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-right: 30px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.promo__offer-text {
  color: $primaryColor;

  @media (max-width: $mobile-width-only) {
text-align: center;
  }

  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 45px;
  }

  p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}
