.quick-form {
  flex-grow: 1;
  flex-basis: 683px;
  background-color: $darkColor;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-basis: 324px;
  }

  @media (max-width: $mobile-width-only) {
    flex-basis: 386px;
  }
}

.quick-form__content {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin: 0 17.3%;
  }
}
