.sections-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 337px;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }
}

.sections__position {
  @media (max-width: $tablet-width-only) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 289px;
    width: 100%;
  }
}
