.subscriptions {
  position: relative;
  background-color: #f8f9fc;

  h2 {
    margin: 0;
    font-family: "Bebas Neue", "Arial", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $mobile-width-only) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin-top: 33px;
    min-height: 41px;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      margin-top: 28px;
      min-height: 39px;
    }

    @media (max-width: $mobile-width-only) {
      margin-top: 21px;
      min-height: 36px;
    }
  }

  li {
    position: relative;
    height: inherit;
    max-width: 190px;

    &:not(:first-child) {
      margin-left: 46px;

      @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
        margin-left: 54px;
      }

      @media (max-width: $mobile-width-only) {
        margin-left: 44px;
      }
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      font-size: 18px;
    }

    @media (max-width: $mobile-width-only) {
      font-size: 16px;
    }
  }

  &::after {
    position: absolute;
    right: 0;
    z-index: 1;

    @media (min-width: $desktop-width) {
      content: url("../img/weights@1x.png");
      bottom: -155px;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      content: url("../img/weights-tablet@1x.png");
      bottom: -130px;
    }
  }
}

.subscriptions__btn {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
    line-height: 24px;
  }

  &:focus,
  &:hover,
  &.active {
    color: $secondaryColor;

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #d10a42;

      @media (max-width: $mobile-width-only) {
        bottom: -3px;
      }
    }
  }
}

.subscriptions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  max-width: 1162px;
  margin: 0 auto;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 100px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 70px 0;
    max-width: 290px;
  }
}

.subscriptions__box {
  z-index: 2;
  justify-content: space-between;
  width: 100%;
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $desktop-width) {
    grid-column-gap: 40px;
  }

  @media (max-width: $tablet-width-only) {
    justify-items: center;
    margin-top: 28px;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 18px;
    grid-row-gap: 35px;
  }
}

.subscriptions__wrapper {
  display: none;
  min-width: 220px;
  padding: 7px;
  box-sizing: border-box;
  background-color: #ffffff;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    max-width: 442px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 428px;
  }

  &.current {
    display: block;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 62px;
    margin: 33px 0 60px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    cursor: pointer;
    color: $secondaryColor;
    border: 2px solid $secondaryColor;

    @media (max-width: $mobile-width-only) {
      margin: 29px 0 47px;
    }
  }

  &:focus,
  &:hover {
    background: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);

    a {
      color: #ffffff;
      border: 2px solid transparent;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%) no-repeat;
    }
  }
}

.subscriptions__item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  h3 {
    margin: 56px 0 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-align: center;

    color: $secondaryColor;

    @media (max-width: $mobile-width-only) {
      margin: 44px 0 0 0;
      font-size: 22px;
      line-height: 110.16%;
    }
  }

  p {
    margin: 10px 0 0 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    color: #495a7d;
  }

  h4,
  span {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;

    @media (max-width: $mobile-width-only) {
      font-size: 48px;
      line-height: 72px;
    }
  }

  h4 {
    margin: 0;
    color: #103aae;
  }

  span {
    color: #102654;
  }
}

.subscriptions__price {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: 66px;

  @media (max-width: $mobile-width-only) {
    margin-top: 54px;
  }
}

.subscriptions__price-shadow {
  position: absolute;
  margin-bottom: 22px;

  span {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 150px;
    text-align: center;

    color: #e8e8e8;
    opacity: 0.48;
  }
}

//.subscriptions__price::before {
//  position: absolute;
//  z-index: -1;
//  bottom: -5px;
//  left: -16px;
//
//  font-family: "Roboto Condensed", "Arial", sans-serif;
//  font-style: normal;
//  font-weight: bold;
//  font-size: 100px;
//  line-height: 150px;
//  text-align: center;
//
//  color: #e8e8e8;
//  opacity: 0.48;
//
//  @media (max-width: $mobile-width-only) {
//    font-size: 80px;
//    line-height: 120px;
//  }
//}
