.trainers {
  min-height: 513px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-height: 474px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 416px;
  }

  h2 {
    margin: 0 7.6% 50px;
    font-family: "Bebas Neue","Arial",sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: .03em;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      margin: 0 5.8% 40px;
      text-align: center;
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: $mobile-width-only) {
      margin: 0 4.7% 42px;
      text-align: center;
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.trainers__pager {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding: 0 5.8%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 4.7%;
  }
}

.trainers__previous-btn,
.trainers__previous-next {
  cursor: pointer;
  width: 16px;
  height: 32px;

  @media (max-width: $mobile-width-only) {
    padding-top: 10px;
  }

  &.no-js {
    display: none;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  svg {
    stroke: #AFAFAF;

    @media (max-width: $mobile-width-only) {
      width: 10px;
      height: 19px;
    }
  }

  &:hover svg,
  &:focus svg {
    stroke: $secondaryColor;
  }
}

.trainers__list {
  display: flex;
  align-items: center;
  margin: 0 40px;

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }

  picture {
    display: flex;
    height: 100%;
  }

  & > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    color: #FFFFFF;

    @media (min-width: $desktop-width) {
      max-width: 1160px;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      max-width: 566px;
    }

    @media (max-width: $mobile-width-only) {
      max-width: 290px;
      justify-content: center;
      margin: 0 22px;
    }
  }

  & > ul > li {
    display: none;
    position: relative;
    height: 100%;
    justify-content: center;

    @media (min-width: $desktop-width) {
      width: 260px;

      &.current-desktop {
        display: flex;
      }

      &:not(:nth-child(4n+1)) {
        margin-left: 40px;
      }
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      width: 268px;

      &.current-tablet {
        display: flex;
      }

      &:not(:nth-child(2n+1)) {
        margin-left: 30px;
      }
    }

    @media (max-width: $mobile-width-only) {
      width: 226px;

      &.current-mobile {
        display: flex;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.trainers__item-mask {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.89);
  box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);

  @media (min-width: $desktop-width) {
    width: 260px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 268px;
  }

  @media (max-width: $mobile-width-only) {
    width: 226px;
  }
}

.trainers__list li:hover .trainers__item-mask {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainers__list li:hover p {
  display: none;
}

.trainers__mask-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 51px 38px 58px 40px;
  height: 100%;

  @media (max-width: $mobile-width-only) {
    padding: 40px 19px 35px 19px;
  }

  h3 {
    margin: 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  & > span {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #B6BDCC;
  }

  & > ul {
    flex-direction: column;
    list-style: disc;
    padding-left: 31px;
    margin-top: 29px;
  }

  li {
    width: auto;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 21px;
  }
}

.trainers__list p {
    position: absolute;
    bottom: 24px;
    margin: 0;
    padding: 0 55px;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

  @media (max-width: $mobile-width-only) {
    padding: 0 10px;
  }
}
