.container {
  box-sizing: border-box;

  padding: 0 103px;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    padding: 0  45px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0 15px;
  }
}

.page-wrapper {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  margin: 0 auto;
}
