.container {
  margin: 0  7.6%;

  @media (max-width: $tablet-width-only) {
    margin: 0  5.8%;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 4.7%;
  }
}

.page-wrapper {
  max-width: 1366px;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  margin: 0 auto;
}
