html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $secondaryColor;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

picture {
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: -1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

h2 {
  font-family: "Bebas Neue","Arial",sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: .03em;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 32px;
    line-height: 32px;
  }
}

.features {
  min-height: 664px;
  background-color: #F8F9FC;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    min-height: 755px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 1231px;
  }
}
